<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPDATE PAGE</title>
</head>
<body>

<h2>Enter Credentials below for update </h2>

<form method="post">
    
    <input type="email" name="username" placeholder="email"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="submit">

</form>

<h2 style="color:blue">OR</h2>
<h2>want to back to the starting page?</h2>
<p><strong>click the link below for WELCOME page</strong></p>
<h1><a href="/welcome">WELCOME</a></h1>

</body>
</html>
