<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME PAGE</title>
</head>
<body>
<h2>CLICK any of the below links to perform</h2>
<h1><a href="/createDB">createDB('example' table will be created)</a></h1>
<h1><a href="/insertDB">insertDB</a></h1>
<h1><a href="/updateDB">updateDB</a></h1>
<h1><a href="/selectDB">selectDB</a></h1>
<h1><a href="/deleteDB">deleteDB</a></h1>
<h1><a href="/selectAllDB">selectAllDB</a></h1>
</body>
</html>
