<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>READONE PAGE</title>
</head>
<body>

<form method = "GET">
	<input type="text" name="author">
	<input type = "submit">
</form>


<h2 style="color:blue">OR</h2>
<h2>want to back to the starting page?</h2>
<p><strong>click the link below for WELCOME page</strong></p>
<h1><a href="/welcome">WELCOME</a></h1>

</body>
</html>
