<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SELECTALL PAGE</title>
</head>
<body>

<h2>ALL AVAILABLE DATA</h2>
    {{range.}}
    <ol>ISBN: {{.Isbn}}<br>
        TITLE: {{.Title}}<br>
        AUTHOR:  {{.Author}}<br>
        PRICE: {{.Price}}<br></ol>
    {{end}}
<h2 style="color:blue">OR</h2>
<h2>want to back to the starting page?</h2>
<p><strong>click the link below for WELCOME page</strong></p>
<h1><a href="/welcome">WELCOME</a></h1>

</body>
</html>
