<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME PAGE</title>
</head>
<body>
<h2>CLICK any of the below links to perform</h2>
<h1><a href="/create">New Data will be inserted in MONGO DB</a></h1>
<h1><a href="/readall">ReadAllDB</a></h1>
<h1><a href="/readone">ReadOne, enter the author name on url</a></h1>
<h1><a href="/update">UpdateDB</a></h1>
<h1><a href="/delete">DeleteDB</a></h1>
</body>
</html>
