<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FIRST PAGE</title>
</head>
<body>
<h2>Already have account ?</h2>
<p><strong>click the link below for login</strong></p>
<h1><a href="/login">LOGIN</a></h1>
<br>
<h2 style="color:blue">OR</h2>
<br>
<h2>New User ?</h2>
<p><strong>click the link below for Signup</strong></p>
<h1><a href="/signup">SIGNUP</a></h1>

</body>
</html>
