<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN PAGE</title>
</head>
<body>

<h2>Enter Credentials below</h2>

<form method="post">

    <input type="email" name="username" placeholder="email"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="submit">

</form>

<h2 style="color:blue">OR</h2>
<h2>New User ?</h2>
<p><strong>click the link below for SignUp</strong></p>
<h1><a href="/signup">SIGNUP</a></h1>

</body>
</html>
